.card {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 10vh;
    max-width: 750px;
}

.submit-btn {
    font-size: 1.2rem;
    font-weight: 500;
    padding: .4rem 1rem;
    background-color: #868892;
    border: none;
    color: #fff;
    border-radius: .3rem;
    width: 6rem;
    align-self: flex-end;
    cursor: pointer;
}

.submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-btn:hover {
    background-color: #68626b;
}

.pagination {
    margin-top: 40px;
    align-self: center;
    padding: 5px;
    background-color: #fff;
    border-radius: .5rem;
}